

body{
    color: black;
}

.container{
    padding-top: 20px;
}

.box {
    padding: 10px; /* Espaciado interno para contenido */
    
}

.agregar{
    background-color: rgb(225, 252, 252);
    height: 300px;
    padding: 10px;
}